COMPOSE_PROJECT_NAME=onenet-dsp-connector

# WebApp settings
APP_NAME=TwinEU_DSP_
#Enable plugin functionalities in the GUI
PUSH_ENABLED=true
NATS_ENABLED=true
KAFKA_ENABLED=true

#TLS settings
CONNECTOR_A_KEYSTORE_NAME=connector-a.jks
CONNECTOR_A_KEY_PASSWORD=password
CONNECTOR_A_KEYSTORE_PASSWORD=password
CONNECTOR_A_KEYSTORE_ALIAS=connector-a

CONNECTOR_B_KEYSTORE_NAME=connector-b.jks
CONNECTOR_B_KEY_PASSWORD=password
CONNECTOR_B_KEYSTORE_PASSWORD=password
CONNECTOR_B_KEYSTORE_ALIAS=connector-b

#TRUSTSTORE (used also by IDSCP2)
TRUSTSTORE_NAME=truststore.jks
TRUSTSTORE_PASSWORD=password

#DAPS
DAPS_KEYSTORE_NAME=
DAPS_KEYSTORE_PASSWORD=
DAPS_KEYSTORE_ALIAS=
KEYSTORE_ALIAS=

# Connector Endpoints. Default local environment values. Change these to the public IP/DNS in production environment
CONNECTOR_A_ENDPOINT_API_URL=http://connector-a:8080
CONNECTOR_B_ENDPOINT_API_URL=http://connector-b:8080

# === CONNECTOR CONFIGURATION === 
CONNECTOR_BASIC_AUTHENTICATION=your_base64_credentials_here

CONNECTOR_A_APPLICATION_ENCRYPTION_KEY=your_encryption_key_here
CONNECTOR_B_APPLICATION_ENCRYPTION_KEY=your_encryption_key_here

CENTRALIZED_SERVICES_API_URL=http://4.232.76.64/middleware-dev/api

# Default local environment value. Change this to the public S3 endpoint if using a reverse proxy
S3_EXTERNAL_PRESIGNED_ENDPOINT=http://minio:9000
#S3_EXTERNAL_PRESIGNED_ENDPOINT=http://host.docker.internal:9000

#traefik
LETSENCRYPT_EMAIL=your@email
DOMAIN_URL=yourdomain
TRAEFIK_CREDENTIALS=admin:$$apr1$$CMWeiHUf$$TvQKxOv1dtRYaoh.5mH5o1

# MINIO
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin

# NOTIFICATION-MODULE
NOTIFICATIONS_ENABLED=true
# NOTIFICATION-MODULE